.kapsayici{
    /*Flexbox kapsayıcı özellikleri */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgb(226, 216, 216);
    width: 90%;
    height: auto;
    margin: auto;   
}
.kapsayici > img{
    /*Flexbox çocuk özellikleri */
    flex: 1 1 300px;

    max-width: 400px;
    min-width: 200px;
    margin: 25px; 
}